<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Food - Austin TSA Go</title>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="ui container">
      <% include ../partials/nav.ejs %>

      <!-- <div class="ui form">
        <div class="field">
          <label>Food Type</label>
          <select class="ui search dropdown">
            <option value="">Select Type</option>
            <option value="TA">Taiwanese</option>
            <option value="JA">Japanese</option>
            <option value="ME">Mexican</option>
            <option value="TH">Thai</option>
          </select>
        </div>
      </div> -->

      <div id="map" style="height: 600px;"></div>
    </div>

    <script type="text/javascript">
      $(function() {
        $('.ui.dropdown')
        .dropdown()
        ;
      });

      function openInNewTab(url) {
        var win = window.open(url, '_blank');
        win.focus();
      }

      function initMap() {
        var UTlocation = {lat: 30.2849, lng: -97.7341}
        var mapOptions = {
          zoom: 14,
          center: UTlocation
        }
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        <% for(var i = 0; i < restuartant_list.length; ++i) { %>
        var contentString<%= i %> = "<%= restuartant_list[i].name %>";
        var infowindow<%= i %> = new google.maps.InfoWindow({
          content: contentString<%= i %>
        });

        var uluru<%= i %> = {lat: <%= restuartant_list[i].location.lat %>, lng: <%= restuartant_list[i].location.lng %>};
        var marker<%= i %> = new google.maps.Marker({
          position: uluru<%= i %>,
          map: map
        });
        marker<%= i %>.addListener('mouseover', function() {
          infowindow<%= i %>.open(map, marker<%= i %>);
        });

        marker<%= i %>.addListener('mouseout', function() {
          infowindow<%= i %>.close(map, marker<%= i %>);
        });

        marker<%= i %>.addListener('click', function() {
          openInNewTab("https://www.google.com/maps/?q=<%= restuartant_list[i].location.lat %>,<%= restuartant_list[i].location.lng %>");
        });
        <% } %>
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqSZN4x6BL2glI3tRmXSBLryKO1m1ugBA&callback=initMap">
    </script>
  </body>
</html>
